# * Server
NODE_ENV=development
PORT=3000
HOST=0.0.0.0

# * Database
MONGODB_URI=mongodb://localhost:27017/lapasar-corp
MONGODB_DB_NAME=lapasar-corp

# * JWT
JWT_SECRET=your-super-secret-jwt-key-change-in-production
JWT_EXPIRES_IN=7d

# * Argon2
ARGON2_MEMORY_SIZE=19456
ARGON2_ITERATIONS=2
ARGON2_PARALLELISM=1

# * Logging
LOG_LEVEL=debug
